<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head}"></div>

    <!-- <title>Guitar Commerce - Errore</title> -->
    
</head>
<body>
    <!-- Navbar -->
    <header>
        <div th:replace="~{fragments :: navbar}"></div>
    </header>

    <!-- Contenuto principale -->
    <section class="container my-5">
        <h1>Errore</h1>
        <p th:text="${error}" class="text-danger">Si è verificato un errore.</p>
        <a th:href="@{/}" class="btn btn-primary">Torna alla Home</a>
    </section>

    <!-- Footer -->
    <div th:replace="~{fragments :: footer}"></div>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>